.hero {
    min-height: 80vh;
    background: #FFFFFF;
    color: black;
    display: flex;
    align-items: center;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add rounded corners */
}

/* Navbar */
.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar-brand img {
    width: auto;
    height: 70px;
    background-color: #ffffff;
    padding: 2px;
}


.navbar-nav .nav-link {
    color: black !important;
}

.navbar-nav .nav-link:hover {
    color: #bc1823 !important;
}

/* Cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body i {
    color: #bc1823;
}

/* Buttons */
.btn-primary {
    background-color: #bc1823;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #B84E1C;
}

/* Accent Buttons */
.btn-warning {
    background-color: #bc1823;
    border: none;
    color: white;
}

.btn-warning:hover {
    background-color: #bc1823;
}

/* Footer */
footer {
    background-color: #0F4142;
    color: white;
    padding: 20px 0;
}

/* Table Hover Effect */
.table-hover tbody tr:hover {
    background-color: rgba(15, 65, 66, 0.1);
}

/* Footer Styles */
.footer {
    background-color: black;
    color: #F7F4E7;
    padding: 40px 0;
}

.footer h5 {
    color: #bc1823;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-link {
    color: #F7F4E7;
    text-decoration: none;
}

.footer-link:hover {
    color: #bc1823;
    text-decoration: underline;
}

.footer-social i {
    color: #F7F4E7;
    transition: color 0.3s;
}

.footer-social i:hover {
    color: #D96123;
}

.footer-bottom {
    background-color: black;
    color: #F7F4E7;
}
